.container-productos {
  width: 80%;
  margin: 0 auto;
  /*border: 1px dotted red;*/
}

.gafas {
  display: grid;
  grid-template-columns: repeat(2, 60% 40%);
  place-items: center;
}

.gafas img,
.navajas img,
.camisetas img,
h3 {
  cursor: pointer;
}

.navajas {
  display: grid;
  grid-template-columns: repeat(2, 40% 60%);
  place-items: center;
  gap: 50px;
}

.camisetas {
  display: grid;
  grid-template-columns: repeat(2, 60% 40%);
  place-items: center;
}

img {
  max-width: 100%;
}

.producto {
  width: 150px;
  height: 150px;
  border: 2px solid black;
}

.container-navajas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
